$green = #86bf40;
$gray = #f1f1f1;

body {
  font: 12px sans-serif;
  margin: 0;
  padding: 0;
}

* {
 box-sizing: border-box;
}

.container {

}

.ace-highlight {
  background-color: rgba($green, .1);
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
  padding: 6px 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  background-color: $green;
  padding: 8px 25px;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .logo {
    color: white;
    display: inline-block;
    font-size: 20px;
  }

  .project-dropdown {
    margin: -25px auto 0;
    position: relative;
    width: 600px;

    .dropdown {
      display: inline-block;
      position: relative;

      .url {
        background-color: white;
        border: 2px solid $green;
        color: gray;
        display: inline-block;
        position: relative;
        width: 420px;
      }

      ul.history {
        background-color: white;
        border: 2px solid $green;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 420px;

        li {
          padding: 10px;
          position: relative;

          &:hover {
            background-color: lighten($green, 80%);
            cursor: pointer;
          }

          .name {

          }

          .timestamp {
            float: right;
          }
        }
      }
    }
      
    ul.actions {
      display: inline-block;

      li {
        display: inline-block;
      }
    }
  }
}

.error {
  color: red;

  &:hover {
    color: lighten(red, 10%) !important;
  }
}

.container {
  padding: 70px 30px 20px;

  .panel {
    vertical-align: top;
    width: 48%;
    min-width: 604px;

    &.editor {
      height: 100%;
      left: 50%;
      position: fixed;
      top: 50px;
    }

    .section {
      background-color: $gray;
      border: 2px solid white;
      padding: 5px;
      position: relative;

      &.headings {
        background-color: lighten($green, 90%);
      }

      &.settings {
        border: 0;
        background-color: lighten($green, 70%);
      }

      span.title {
        color: $green;
        font-size: 16px;
      }

      a.new {
        float: right;
      }
    }

    .resources {
    }
  }
}

.box {
  border: 1px solid black;
  margin: 4px 0;
  padding: 4px 8px;
}

.ace_editor {
  height: 92%;
  margin: 20px 0 0 25px;
  position: absolute;
}

select, input, textarea {
  background-color: white;
  border: 2px solid $green;
  padding: 2px;
}

.heading {
  background-color: white;
  border: 2px solid $green;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0 0;// 8px;
  padding: 3px 5px;
  user-select: none;

  &.error {
    background-color: lightpink;
  }

  &.open {
    border: 5px solid $green;

    .summary {
      float: right;
    }

    .path {
      &:hover {
        color: darken($green, 20%);
      }
    }
  }

  .row {
    margin-bottom: 2px;
    width: 100%;

    //first row
    .method {
      display: inline-block;
      font-size: 11px;
      min-width: 55px;
    }

    .path {
      display: inline-block;
      max-width: 200px;
      margin: 0 5px;
      vertical-align: middle;
      width: 35%;
    }

    .summary {
      display: inline-block;
      /*white-space: nowrap;*/
      /*overflow: hidden;*/
      /*text-overflow: ellipsis;*/
      vertical-align: middle;
      width: 40%;
    }

    //second row
    .nickname {
      display: inline-block;
      width: 30%;
    }

    .return-type {
      display: inline-block;
      width: 68%;
      position: relative;
      right: 0;
      text-align: right;
    }

    //third row
    .notes {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
  }
}

ul.items {
  li {
    position: relative;

    .right-menu {
      background-color: white;
      font-size: 15px;
      height: 100%;
      position: absolute;
      right: -35px;
      top: 0;
      width: 30px;

      a {
        color: lighten($green, 50%);
        cursor: pointer;
        font-family: 'Verdana';
        padding: 2px 5px;
        margin: 0;
        text-decoration: none;

        &:hover {
          color: red;
        }
      }
    }
  }
}

.tabs {
  ul {
    display: inline-block;
    /*margin: 6px 0;*/

    li.section {
      cursor: pointer;
      display: inline;
      font-size: 12px;
      user-select: none;

      &.active {
        background-color: $green;
        cursor: default;

        &:hover {
          color: black;
        }
      }

      &:hover {
        color: $green;
      }
    }
  }

  .actions {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0;

    a:last-child {
      margin-left: 10px;
    }
  }
}

.url {
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 6px;
  width: 48%;

  &:hover {
    color: blue;
  }
}

a {
  display: inline-block;
  margin: 4px 0;
  text-decoration: underline;

  &:hover {
    color: blue;
  }
}

/* xeditable */

.editable-wrap {
  display: inline-block;
  white-space: nowrap;
  margin: 0
}

.editable-wrap .editable-controls, .editable-wrap .editable-error {
  margin-bottom: 0
}

.editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
  margin-bottom: 0
}

.editable-wrap .editable-input {
  display: inline-block
}

.editable-buttons {
  display: inline-block;
  vertical-align: top
}

.editable-buttons button {
  margin-left: 5px
}

.editable-input.editable-has-buttons {
  width: auto
}

.editable-bstime .editable-input input[type=text] {
  width: 46px
}

.editable-bstime .well-small {
  margin-bottom: 0;
  padding: 10px
}

.editable-range output {
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  text-align: center
}

.editable-color input[type=color] {
  width: 50px
}

.editable-checkbox label span, .editable-checklist label span, .editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px
}

.editable-hide {
  display: none !important
}

.editable-click:hover, a.editable-click:hover {
  text-decoration: none;
  color: #2a6496;
  /*border-bottom-color: #2a6496*/
}

.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
  font-style: italic;
  color: #D14;
  text-decoration: none
}