body {
  font: 14px sans-serif;
  padding: 20px 50px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
  padding: 6px 0;
  margin: 0;
}

.box {
  border: 1px solid black;
  margin: 4px 0;
  padding: 4px 8px;
}

.panel {
  display: inline-block;
  vertical-align: top;
  width: 48%;

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 30px;

    li {
      font-size: 16px;
      width: 70%;
    }
  }
}
.ace_editor {
  margin-top: 25px;
  height: 500px;
}