<div class="panel">
  <h1>Resource</h1>
  <input type="text" class="box" ng-model="file.resourcePath" />

  <div class="items">
    <h2>APIs</h2>
    <ul class="apis">
      <li ng-repeat="api in file.apis">
        <div class="heading error" ng-if="api.operations.length == 0">
          <span class="method"></span>
          <span class="path">{{api.path}}</span>
          <span class="summary">API has zero operations. Delete resource?</span>
          <a ng-click="removeFromArrayByIndex(file.apis, $index)">X</a>
        </div>
        <div ng-if="api.operations.length == 0">
          <a ng-mousedown="newOperationAfterIndex(api, $index)">New Operation Below This One</a>
        </div>
        <ul class="operations">
          <li ng-repeat="operation in api.operations">
            <div class="heading">
              <span class="method" editable-select="operation.method" e-ng-options="m for m in methods">{{operation.method}}</span>
              <span class="path" editable-text="api.path">{{api.path}}</span>
              <span class="summary" editable-text="operation.summary">{{operation.summary}}</span>
              <a ng-click="removeFromArrayByIndex(api.operations, $index)">X</a>
            </div>
            <div class="type" editable-select="operation.__friendlyType" e-ng-change="returnTypeChanged(operation)" e-ng-options="type for type in friendlyTypes">{{operation.__friendlyType}}</div>
            <input type="checkbox" ng-hide="operation.__friendlyType == 'void'" ng-model="operation.__array">array?

            <table class="parameters">
              <thead>
                <tr>
                  <td>Param Type</td>
                  <td>Description</td>
                  <td>Type</td>
                  <td>Required</td>
                  <td>Name</td>
                  <td>Allow Multiple</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="parameter in operation.parameters">
                  <td><select ng-model="parameter.paramType" ng-options="pt for pt in paramTypes" ></select></td>
                  <td editable-text="parameter.description">{{parameter.description}}</td>
                  <td editable-select="parameter.__friendlyType" e-ng-options="type for type in friendlyTypes | filter:'!void'">{{parameter.__friendlyType}}</td>
                  <td><input type="checkbox" ng-disabled="parameter.paramType=='path'" ng-model="parameter.required" /></td>
                  <td editable-text="parameter.name">{{parameter.name}}</td>
                  <td><input type="checkbox" ng-if="parameter.hasOwnProperty('allowMultiple')" ng-model="parameter.allowMultiple" /></td>
                  <td><a ng-click="removeFromArrayByIndex(operation.parameters, $index)">X</a></td>
                </tr>
              </tbody>
            </table>
            <a ng-mousedown="newParameter(operation.parameters)">Add Parameter</a>
            <a ng-mousedown="newOperationAfterIndex(api, $index)">New Operation Below This One</a>

          </li>
        </ul>

      </li>

    </ul>
  </div>

  <div class="items">
    <h2>Models</h2>
    <ul class="last">
      <li ng-repeat="model in file.models">
        <input type="text" class="box" ng-model="model.id" />
      </li>
    </ul>
  </div>

</div>
<div class="panel">
  <div ui-ace="{mode: 'json'}" readonly="true" ng-model="fileContents"></div>
</div>